
/* basic */
.bg-main-color {
    background-color: var(--main-color)
}
/* hero */
.hero.container {
    padding-bottom: 20px;
    background-image: url(../img/comingsoon6.png);
    background-size: cover;
    background-position: center bottom;
}

.hero > .row-short {
    text-align: center;
}

.hero img {

}
.hero h1 {
        display: inline-block;
        width: 100%;
        color: #000;
        font-size: 60px;
        line-height: 60px;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: var(--gap);

}

.hero p {
    display: inline-block;
    width: 100%;
    color : #000;
    font-size: 25px;
    line-height: 23px;
    margin-bottom: var(--big-gap);
}


.hero .clock {
    margin-bottom: var(--big-gap);
}
.hero .form {
    margin-bottom: var(--gap);
}


/*main */
main h2 {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 20px;
}

main p {
    font-size: 15px;
    line-height: 23px;
    color: rgb(104, 101, 101);
    margin-bottom: 20px;
}

main p > a {
    color: var(--secondary-color);
    text-decoration: none;
}
    main p > a:hover {
        text-decoration: underline;
    }


/* footer */
footer.container {
    padding-top: 0;
}
