<<<<<<< Updated upstream
=======
/* basic */
.bg-main-color {
    background-color: #03A9F3;
}
/* hero */
.hero.container {
    padding-bottom: 20px;
}

.hero > .row-short {
    text-align: center;
}

.hero img {

}
.hero h1 {
    display: inline-block;
    width: 100%;
    color : #000;
    font-size: 60px;
    line-height: 60px;

}

.hero p {
    display: inline-block;
    width: 100%;
    color : #000;
    font-size: 25px;
    line-height: 15px;

}


/*main */

/* footer */
footer.container {
    padding-top: 0;
}
>>>>>>> Stashed changes
