
/* basic */
.bg-main-color {
    background-color: var(--main-color)
}
/* hero */
.hero.container {
    padding-bottom: 20px;
    background-image: url(../img/comingsoon6.png);
    background-size: cover;
    background-position: center bottom;
}

.hero > .row-short {
    text-align: center;
}

.hero img {
        height: 30px;
        margin-bottom: var(--big-gap);

}
.hero h1 {
        display: inline-block;
        width: 100%;
        color: #000;
        font-size: 60px;
        line-height: 60px;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: var(--gap);

}

.hero p {
    display: inline-block;
    width: 100%;
    color : #000;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: var(--big-gap);
}


.hero .clock {
    margin-bottom: var(--big-gap);
}
.hero .form {
    margin-bottom: var(--gap);
}


/*main */
main h2 {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 20px;
}

main p {
    font-size: 15px;
    line-height: 23px;
    color: rgb(104, 101, 101);
    margin-bottom: 20px;
}

main p > a {
    color: var(--secondary-color);
    text-decoration: none;
}
    main p > a:hover {
        text-decoration: underline;
    }


/* footer */
footer.container {
    padding-top: 0;
    text-align: center;
}
    footer > .row-long {
        padding: 15px 0;
        border-bottom: 1px solid #fff;
        margin-bottom: 20px;
    }
    footer .fa {
        color: #fff;
        font-size: 17px;
        text-align: center;
        line-height: 36px;
        height: 36px;
        width: 36px;
        border-radius: 50%;
        text-decoration: none;
    }

    footer .fa:hover {
        background-color: #fff;
        color: var(--main-color);
        
    }

    footer img {
        margin-bottom: 20px;
        height: 40px;

    }

    footer p {
        display:inline-block;
        width: 100%;
        font-size: 17px;
        line-height: 25px;
        color: #fff9;

    }
        footer p a {
            color: #fff;
            text-decoration: none;

        }
        footer p > span {
            padding: 0 10px;
            position: relative;

            

        }

        footer p > span + span::before {
           /* border-left: 1px solid #fff; */  
            content: '';
            display: inline-block;
            width: 1px;
            height: 15px;
            background-color: #fff;
            position: absolute;
            top: 50%;
            left: -2px;
            transform: translate(-50%);
        }


@media (max-width: 640px) {
    footer p > span {
        display:inline-block;
        width: 100%;
    }
    footer p > span + span::before {
        display: none;
    }

}
