.form {
    display: inline-block;
    width: 100%;
}

    .form > .input {
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;
        color: #929292;
        border: none;
        border-bottom: 1px solid #666;
        font-size: 17px;
        line-height: 25px;
        outline-color: var(--main-color);
    }

    textarea.input {
        min-height: 80px;
        max-height: 256px;
        resize: vertical;
    }

        .form > .input::placeholder {
            color: inherit;
        }